.main {
    height: 100%;
}

.main .footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding: 6rem 2rem 2rem 2rem;
}

.main .search {
    position: relative;
    width: 100%;
}

.main .search input {
    padding-right: 1.5rem;
}

.main .search i {
    position: absolute;
    top: 0.25rem;
    right: 0.5rem;
}

.main .search i:hover {
    color: #5bc0de;
}

@media (min-width: 576px) {
    .main .search {
        width: 10rem;
    }
}

#super {
  color: 	#FF9224;
  font-size: 2rem;
}

#superr {
  color: #00BB00;
  font-size: 1.5rem;
}

#navv {
  color: black;
}
#facebok{
    border-radius: 9999px;
}

#fbicon{
  color: #3b5998;
}

.s{
  width: 45px;
  height: 45px;
  padding: 5px 5px 5px 0;
  border-radius: 10px;
}

#guide .modal-body{
    /*border: 0px 0px;
    padding:9px 15px;
    border-bottom:1px solid rgba(243, 173, 16, 0.5);*/
    background-color: white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

/*#cell1 {
  border-left:  5px solid rgba(133,231,255,0.5);
}

#cell2 {
  border-left:  5px solid white;
}

#cell3 {
  border-left:  5px solid rgba();
}*/
